@font-face {
  font-family: "MonoCraftRegular";
  src: local("MonoCraftRegular"),
    url("./fonts/Monocraft.otf") format("truetype");
  font-weight: regular;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-size: 16px;
  font-family: "MonoCraftRegular";
  background-color: #282828;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
